<!DOCTYPE html>
<html>
  <head>
	<title>Content Management System</title>
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  </head>
  <body>
    
	<div class="ui fixed inverted menu">
	    <div class="ui container">
	    	 <div class="header item"><i class="code icon"></i>Blog Site</div>
	          <a href="/" class="item">Home</a>
	          <a href="/blogs/new" class="item">New Post</a>
	    </div>
	</div>


<!-- This is header part generated with templating engine (ejs) -->	
<!-- Footer portion is in footer.ejs in views -> partials -->